<!DOCTYPE html>
<html>
    <head>
        <title>Twitter</title>
        <style>
            .apply{
                align-content: flex-end;
                width: 200px;
                color:black;
                text-align: center;
                align-items: center;
                margin-top: 5px;
            }
            input {
            width: 200px;
            height: 40px;
            background-color:white;
            text-align: center;
        }
        </style>
    </head>
    <form>
    <div class="apply" style="margin-top: 5px;">
        <h2>Twitter Welcomes You</h2>
         <tr>
            <input type="Login" onclick="Login()" routerLink="/login" value="Login" >
         </tr>
         <tr>
             <input type="Registration" onclick="Register()" routerLink="/register" value="Register">
         </tr>
         <!-- <a href="/login" target="_blank";>Login</a>
         <a href="/signup" target="_blank";>SignUp</a>
         <a href="/About" target="_blank";>About</a>
          -->
    </div>
   
</form>
</html>


 <!-- <header class="header">
    <h1 class="logo"><a href="#" style="color: rgba(47, 0, 255, 0.925);">Twitter</a></h1>
  <ul class="main-nav">
    <a href="/login" target="_blank">Login</a>
    <a href="/signup" target="_blank">SignUp</a>
    <a href="/signup" target="_blank">About</a>
   

    
      
  </ul>
  </header>
  <body>
  <div class="gallery">
    
    <div class="desc">Twitter Welcomes You</div>

    <!-- <img src="https://suta.in/collections/best-seller-1/products/my-photo-in-a-red-saree" alt="" style="width:20%"> -->


  <!-- </div>
</body>
  <footer style=background-color:aquamarine>
    <p>&copy; Copyright 2020 © Suta Private Limited. All rights reserved</p>
  </footer> --> -->
