<div class="Twitter">
    <form name="form1">
        <div class="Login">
            <tr>
                <td>
                 <label>EmailId</label>
                </td>
                <td>
                 <input  type="text" id="tb1" placeholder="Enter EmailId" style="margin-left: 20;" >
                </td>               
            </tr>
            <td></td>
            <tr>
                <td>
                 <label>Password</label>
                </td>
                <td>
                 <input  type="text" id="tb2" placeholder="Enter Password" style="margin-left: 20;" >
                </td>               
            </tr>

            
        </div>
    </form>
</div>
