<!DOCTYPE html>
<html>
    <head>
    </head>
    <style>
        input {
            width: 70px;
            height: 40px;
            background-color: blue;
            text-align: center;
        }

        .set {
            background-color: beige;
            width: 600px;
            height: 200px;
            margin: auto;
            border: 3px black;
            text-align: center;
            align-items: center;
            
        }

    </style>

    <body>
        <div class="set">
            <form name="form2">
                <h2>{{title}}</h2>
                <div class="sm-jumbortron:center-align">
                    <tr>
                        
                       <td>
                        <input  type="button" id="b7" onclick="b7_click"  value="Edit Details" style="width:150px;background-color:white" >
                       </td> 
                    </tr>
                    <tr>
                        
                       <td>
                        <input  type="button" id="b8" onclick="b8_click"  value="Logout" style="width:150px;background-color:white" >
                       </td> 
                    </tr>
                    <tr>
                        
                       <td>
                        <input  type="button" id="b9" onclick="b9_click"  value="Delete Account" style="width:150px;background-color:white" >
                       </td> 
                    </tr>            
                </div>
            </form>
        </div>
    </body>
</html>

