<!DOCTYPE html>
<html>
    <head>
    </head>
    <style>
        input {
            width: 70px;
            height: 40px;
            background-color: blue;
            text-align: center;
        }

        .set {
            background-color: beige;
            width: 600px;
            height: 200px;
            margin: auto;
            border: 3px black;
            text-align: center;
            align-items: center;
            
        }

    </style>

    <body>
        <div class="set">
            <form name="form2">
                <h2>Register User Here</h2>
                <div class="sm-jumbortron:center-align">
                    <tr>
                        <td>Username</td>
                       <td>
                        <input  type="text" id="tb1" placeholder="Enter Username" style="width:250px;background-color:white" >
                       </td> 
                    </tr>
                    <tr>
                        <td>EmailId</td>
                       <td>
                        <input  type="text" id="tb1" placeholder="Enter EmailId" style="width:250px;background-color:white" >
                       </td> 
                    </tr>
                    <tr>
                        <td>Password</td>
                       <td>
                        <input  type="text" id="tb1" placeholder="Enter Password" style="width:250px;background-color:white" >
                       </td> 
                    </tr>
                    <tr>
                        <td>ConfirmPassword</td>
                       <td>
                        <input  type="text" id="tb1" placeholder="Enter Password" style="width:250px;background-color:white" >
                       </td> 
                    </tr>
                </div>
            </form>
        </div>
    </body>
</html>
